.page{
  display: flex;
}

.table-page{
  flex: 1;
  padding: 20px;
  background-color:white;
}

.btn-approve{
  background: #4CAF50;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
}

.disabled-btn {
  background: #999 !important;
  cursor: not-allowed;
  opacity: 0.7;
}

.btn-delete{
  background: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}